.App {
  text-align: center;
  font-family: serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.list-container {
  position: relative;
  border: 3px solid #ffffff;
  border-radius: 12px;
  height: auto;

  width: 40vw;
}

.list-container h1 {
  margin: 15px auto;
}

.grocery-item {
  display: flex;
  justify-content: space-between;
  height: 25px;
  width: 35vw;
  margin: 5px 10px;

  color: #ffffff;
  font-size: 14px;
}

p {
  color: #ffffff;
  font-size: 12px;
}

.total-container {
  display: flex;
  justify-content: space-between;
  height: 75px;
  margin: 20px 10%;
}

.label {
  font-weight: bold;
  font-size: 16px;
}
